# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.DS_Store

# Build outputs
dist
dist-ssr
assets/*.js
assets/*.css
coverage
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# 環境變數檔案 (使用 # 而非 // 作為註解)  
.env.*

# gh-pages 快取
.cache
node_modules/.cache